body {
        background-color: #3fbba3;
        font-family: sans-serif;
      }

      .container_login {
        width: 40%;
        background-color: #fff;
        margin: 80px auto;
        border-radius: 8px;
        padding: 20px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      h1 {
        font-family: sans-serif;
        margin-bottom: 20px;
        font-size: 25px;
        font-weight: bold;
        color: #3fbba3;
      }

      .input {
        width: 100%;
        height: 54px;
        padding-left: 10px;
        margin-bottom: 20px;
      }

      .button_login {
        color: #fff;
        background-color: #0b847a;
        border: none;
        cursor: pointer;
        transition: transform 0.25s ease-in-out;
        width: 100px;
        height: 44px;
        margin-bottom: 20px;
        margin-top: 20px;
      }

      .button_login:hover {
        background-color: #10c4b5;
        transform: scale(1.05);
      }

      .container_checkbox {
        align-self: flex-start;
      }